@charset "UTF-8";
* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  line-height: 18pt;
}

body {
  background-color: #E5F4FF;
}

.navbar-collapse {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 3000 !important;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Pone los li en línea */
  gap: 10px; /* Espacio entre botones (opcional) */
}

.negro {
  display: inline-block;
  background: #2D4E6C;
  color: #fff;
  padding: 10px 30px;
  text-decoration: none;
}
.negro:hover {
  background: #5c5a5a;
}

h1, h2, div {
  background: grey;
  color: #fff;
  justify-content: space-around;
  padding: 15px;
  margin: 20px 0;
  display: flex;
  text-align: center;
}

h1 {
  padding: 10px 30px;
  font-size: 40px;
}

h2 {
  padding: 10px 30px;
  font-size: 25px;
}

input:invalid {
  color: grey;
}

.mensaje {
  text-align: center;
}

.cabeza {
  background-color: rgb(244.3, 250.4730769231, 255);
  display: flex;
  width: 60%;
  padding: 0 20%;
}

.textoprincipal {
  max-width: 1140px;
  margin: 0 auto 10px;
  display: grid;
  padding: 40px;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}
.contenedor img {
  width: 300px;
  height: auto;
}

.galeria {
  max-width: 1200px;
  margin: 0 auto 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  grid-gap: 5px;
  padding: 20px auto;
}
.galeria .imagen img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.galeria .imagen:nth-child(1), .galeria .imagen:nth-child(4) {
  grid-column-start: span 2;
}

.contacto {
  display: block;
  padding: 0 20%;
  width: 60%;
  text-align: center;
}
.contacto h2 {
  color: #fff;
}
.contacto textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  resize: none;
  margin-bottom: 20px;
}

.instagram {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 5%;
}

.contenedor2 {
  background-color: grey;
  text-align: center;
  text-decoration: none;
}
.contenedor2 .empresas {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.contenedor2 .empresas img {
  width: 200px;
  height: 45px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.menu-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

nav {
  max-width: 1200px;
  margin: 0 auto 10px;
  padding: 10px;
  background: grey;
  display: flex;
  justify-content: space-around;
}
nav a {
  color: #fff;
  text-decoration: none;
}
nav .menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 1001;
}
nav .menu-toggle span {
  height: 3px;
  width: 25px;
  background-color: black;
  margin: 4px 0;
  border-radius: 2px;
}
nav .menu-toggle span:hover {
  background: #2D4E6C;
}
nav #menu-checkbox {
  display: none;
}

footer {
  display: flex;
  background: #2D4E6C;
  color: #fff;
  padding: 30px;
  justify-content: space-around;
  max-width: 1160px;
  margin: 0 auto 10px;
}

@media (max-width: 589px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
  nav section {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background: #333;
    padding-top: 60%;
    text-align: left;
    padding: 10px 0;
    transition: right 0.3s ease;
  }
  nav #menu-checkbox:checked ~ section {
    right: 0;
  }
  nav .menu-toggle {
    display: flex;
    z-index: 1000;
  }
  nav .negro {
    margin: 10px;
  }
  nav a {
    display: block;
    padding: 15px;
    text-align: left;
  }
  .instagram {
    max-width: 20%;
    min-width: 15%;
  }
}/*# sourceMappingURL=style.css.map */